<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adamespinoza.UpBeat" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="UpBeat"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="UpBeat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="onActivityResult"
                    android:scheme="currentparty" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".FindYourParty"
            android:label="@string/title_activity_find_your_party"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!--<activity-->
            <!--android:name=".CreateAParty"-->
            <!--android:label="@string/title_activity_create_aparty" >-->
        <!--</activity>-->
        <activity
            android:name=".CreateAParty"
            android:label="@string/title_activity_create_aparty"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
